<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
<div id="Container">
    %%Panel.Header%%
    
        
        <div class="header-text"><img src="http://artique.mybigcommerce.com/templates/__custom/header-text.png" border="0" onmouseover="this.src='http://artique.mybigcommerce.com/templates/__custom/header-text-hover.png'" onmouseout="this.src='http://artique.mybigcommerce.com/templates/__custom/header-text.png'" onclick="window.location.href = 'http://www.artique.mybigcommerce.com/holiday-collection'"/></div>
        <div class="header-icon1"><img src="http://artique.mybigcommerce.com/templates/__custom/header-icon-1.png" border="0"/></div>
        <div class="header-icon2"><img src="http://artique.mybigcommerce.com/templates/__custom/header-icon-2.png" border="0"/></div>
        <!-- slideshow images need to be 607x403 px -->
        <div id="slideshow" class="slideshow"> 
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-3-snowmen.jpg" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-artiq-intrior.jpg" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-colored-glasses.JPG" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-dsc_0147.JPG" border="0"/>
            </div>
            
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-ornament-disply.jpg" border="0"/>
            </div>
            
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-ornament-group-flt.jpg" border="0"/>
            </div>
            
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-photo-2.JPG" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-photo-3.JPG" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-photo-4.JPG" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-snowflake.jpg" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-snowman-close-up.jpg" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-st-nick.jpg" border="0"/>
            </div>
            <div class="images">
                <img src="http://artique.mybigcommerce.com/templates/__custom/slideshow-table-mice.jpg" border="0"/>
            </div>
            
            
        </div>
        <div class="award1"><img src="http://artique.mybigcommerce.com/templates/__custom/award-1.png" border="0"/></div>
        <div class="award2"><img src="http://artique.mybigcommerce.com/templates/__custom/award-2.png" border="0"/></div>
    </div>
    %%Panel.Footer%%
</div>    
</body>

<script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#slideshow').cycle({
                fx: 'fade',  // Effects: http://jquery.malsup.com/cycle/browser.html
                timeout: 3000
            });
        });
    </script>
</html>