<br/>
<br/>
<br/>
<br class="Clear" />
        </div>


<div class="facebooklink">
<a href="http://www.facebook.com/artiquegallery" target="_blank">
                <img alt="" height="44" src="http://artique.mybigcommerce.com/templates/__custom/find_us_on_facebook_badge.gif"></a>
</div>

<div class="newsletterlink">
<a href="http://visitor.constantcontact.com/d.jsp?m=1102571641519&p=oi" target="_blank"><img src="http://img.constantcontact.com/ui/images1/visitor/email5_trans.gif" alt="Email Newsletter icon, E-mail Newsletter icon, Email List icon, E-mail List icon" border="0" align="absmiddle"></a>
<a href="http://visitor.constantcontact.com/d.jsp?m=1102571641519&p=oi"  style="text-decoration:none; font-weight:bold;  font-family:Arial; font-size:13px; color:#339900;" target="_blank">Join our FREE Email Mailing List</a></td>
</div>
<!-- END: Constant Contact Border Email List Button -->
<!-- BEGIN: SafeSubscribe -->
<div align="center" style="padding-top:5px;">
<a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank"><img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""/></a>
                        </div>
        <div id="Footer">
            

            <p>
               <!-- %%GLOBAL_AllPricesAreInCurrency%% -->
                Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.
               
                
            </p>
            %%GLOBAL_DebugDetails%%

        </div>



        %%GLOBAL_DesignModeHTML%%
        %%GLOBAL_QueryList%%
        %%GLOBAL_DesignModeScriptTag%%
        %%GLOBAL_LiveChatFooterCode%%

        %%GLOBAL_OptimizerTrackingScript%%

        %%GLOBAL_OptimizerConversionScript%%

        %%GLOBAL_OptimizerSetCookieScript%%
        %%GLOBAL_FooterScripts%%
        %%SNIPPET_FastCartThickBoxJs%%
